{% extends 'base.html' %}

{% block title %}
Contact Us
{% endblock title %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="/static/login/contact_us.css">
{% endblock %}

{% block body %}


<section class="contact">
    <div class="content">
        <h2><i><b>Contact Us..</b></i></h2>
        <p>Rajshahi University of Engineering & Technology (RUET) is the
            prestigious public Engineering University & center of excellence offers
            high quality education and research in the field of engineering and technology.
            Among all the departments,Computer Science & Engineering department has become the resilient
            part of engineering discipline that combines the knowledge of computer science,
            computer engineering and electrical engineering to develop and integrate computer
            software and hardware.</p>
    </div>
    <div class="container">
        <div class="contact-info">
            <div class="box">
                <div class="text">
                    <h3>Contact Information</h3>
                    <br>
                    <p>Registrar

                        <br>Rajshahi University of Engineering & Technology

                        <br> Kazla, Rajshahi-6204, Bangladesh.

                        <br> +88 (0721) 750105

                        <br> +88 (721) 750742-3, 751320-1

                        <br> registrar@ruet.ac.bd

                        <br> ruet.ac.bd
                    </p>
                </div>
            </div>

        </div>

        <div class="contactform">
            <form>
                <h2>Send Messages...</h2>
                <div class="inputBox"><span>Full Name</span><br><input type="text" name="" required="required"></div>
                <div class="inputBox"><span>Email</span><br><input type="text" name="" required="required"></div>
                <div class="inputBox"> <span>Type your message</span><br><textarea required="required"></textarea></div>
                <div class="inputBox"><input type="submit" name="" value="send">
                </div>
            </form>

        </div>
    </div>


</section>
{% endblock body %}

