{% extends 'base.html' %}

{% block title %}
Login & Register Form
{% endblock title %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="/static/login/LOGIN.css">
{% endblock %}

{% block body %}

<div class="container-t">
    <div class="card">
        <div class="inner-box" id="card">
            <div class="card-front">
                <h2 class="text-light"><b><i>LOGIN</i></b></h2>
                <form method="post" name="signin">
                    {% csrf_token %}
                    <input type="text" class="input-box" id="userid" name="userid" placeholder="Enter your student ID"
                        required>
                    <input type="password" class="input-box" id="pass1" name="pass1" placeholder="Password" required>
                    <button type="submit" class="submit-btn" name="signin">Submit</button>

                </form>
                <button type="button" class="btn text-light" onclick="openRegister()">Don't have any account? Register
                    first..</button>
            </div>
            <div class="card-back">
                <h2 class="text-light"><b><i>REGISTER</i></b></h2>
                <form method="post" name="signup">
                    {% csrf_token %}
                    <input type="text" class="input-box" id="username" name="username" placeholder="Enter your Name"
                        required>
                    <input type="text" class="input-box" id="series" name="series" placeholder="Enter your series "
                        required>
                    <input type="text" class="input-box" id="userid" name="userid" placeholder="Enter your student ID"
                        required>
                    <input type="email" class="input-box" id="email" name="email" placeholder="Your Email ID" required>
                    <input type="password" class="input-box" id="pass1" name="pass1" placeholder="Password" required>
                    <input type="password" class="input-box" id="pass2" name="pass2" placeholder="Confirm your Password"
                        required>
                    <button type="submit" class="submit-btn" name="signup">Submit</button>
                </form>
                <button type="button" class="btn text-light" onclick="openlogin()">I've an account..</button>
            </div>
        </div>
    </div>
</div>

<script>
    var card = document.getElementById("card");

    function openRegister() {
        card.style.transform = "rotateY(-180deg)";
    }
    function openlogin() {
        card.style.transform = "rotateY(0deg)";
    }
</script>

{% endblock body %}
